<div class="container col-md-6 col-md-offset-3">
    <h2>Registration</h2>
    <form class="mt-4" [formGroup]="registrForm" (ngSubmit)="register(registrForm.value)">
    <div class="form-group row" [ngClass]="{'has-danger':!registrForm.controls['firstName'].valid && registrForm.controls['firstName'].touched}">
        <label for="firstName" class="col-sm-3">First Name</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="firstName" placeholder="First name" [formControl]="registrForm.controls['firstName']">
            <div *ngIf="registrForm.controls['firstName'].hasError('required') && registrForm.controls['firstName'].touched" class="form-control-feedback">You must include a first name.</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger':!registrForm.controls['lastName'].valid && registrForm.controls['lastName'].touched}">
        <label for="lastName" class="col-sm-3">Last Name</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="lastName" placeholder="Last name" [formControl]="registrForm.controls['lastName']">
            <div *ngIf="registrForm.controls['lastName'].hasError('required') && registrForm.controls['lastName'].touched" class="form-control-feedback">You must include a last name.</div>
            <div *ngIf="registrForm.controls['lastName'].hasError('minlength') && registrForm.controls['lastName'].touched" class="form-control-feedback">Your last name must be at least 5 characters long.</div>
            <div *ngIf="registrForm.controls['lastName'].hasError('maxlength') && registrForm.controls['lastName'].touched" class="form-control-feedback">Your last name cannot exceed 10 characters.</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger':!registrForm.controls['username'].valid && registrForm.controls['username'].touched}">
        <label for="username" class="col-sm-3">Username</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="username" placeholder="Username" [formControl]="registrForm.controls['username']">
            <div *ngIf="registrForm.controls['username'].hasError('required') && registrForm.controls['username'].touched" class="form-control-feedback">You must include a username.</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger':!registrForm.controls['password'].valid && registrForm.controls['password'].touched}">
        <label for="password" class="col-sm-3">Password</label>
        <div class="col-sm-9">
            <input class="form-control" type="password" id="password" placeholder="Password" [formControl]="registrForm.controls['password']">
            <div *ngIf="registrForm.controls['password'].hasError('required') && registrForm.controls['password'].touched" class="form-control-feedback">You must include a last name.</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!registrForm.valid">Submit</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
    </form>
</div>